.AjoutUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;

  h1 {
    font-size: 2rem;
    color: #233d8d;
    border-bottom: 1px solid #00acb0;
    margin-bottom: 3rem;
  }

  .addUser-form {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
      justify-content: space-evenly;
      width: 50%;
    }

    label {
      p {
        font-size: small;
        color: #233d8d;
        font-weight: 700;

        @media screen and (min-width: 768px) {
          font-size: larger;
        }
      }

      input {
        border-radius: 5px;
        border: 1px solid #233d8d;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 7rem;
        height: 1.5rem;
        display: flex;
        font-size: small;

        @media screen and (min-width: 768px) {
          font-size: large;
        }
      }

      select {
        border-radius: 5px;
        border: 1px solid #233d8d;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 10rem;
        height: 1.5rem;
      }

      .input-email {
        width: 22rem;

        @media screen and (min-width: 768px) {
          width: 40rem;
          height: 3rem;
        }
      }

      .input-password {
        width: 13rem;

        @media screen and (min-width: 768px) {
          width: 22rem;
          height: 3rem;
        }
      }

      .input-role {
        width: 13rem;

        @media screen and (min-width: 768px) {
          width: 22rem;
          height: 3rem;
        }
      }
    }

    .addUser-submit {
      border-radius: 10px;
      width: 10rem;
      height: 2.25rem;
      margin-top: 2.5rem;
      margin-left: 30%;
      background-color: #00acb0;
      color: white;
      border: none;

      @media screen and (min-width: 768px) {
        width: 20rem;
        height: 4rem;
        margin-left: 32%;
      }
    }
  }
}

.input-name-firstname {
  display: flex;
  width: 27rem;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .input-name {
    width: 12rem;

    @media screen and (min-width: 768px) {
      width: 20rem;
      height: 3rem;
    }
  }

  .input-firstanme {
    width: 12rem;

    @media screen and (min-width: 768px) {
      width: 20rem;
      height: 3rem;
    }
  }
}
