.admin-container {
  height: 90vh;
  width: 100vw;
  display: flex;

  align-content: center;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-size: 1.7rem;
  }
  .button-container {
    height: 55vh;
    width: 75vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1.5rem;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      width: 60vw;
    }

    button {
      height: 13rem;
      width: 20rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-family: var(--font);
      &:hover {
        transform: scale(1.5);
      }
    }
    .button-add {
      background: #00acb0;
    }
    .button-modify {
      background: #233d8d;
    }
  }
}
