/* Error pages (404 and 403) */

.error-page {
  --primary-colour: #253d8b;
  --background-primary-colour: #00acb0;
  --background-secondary-colour: #002743;
  --error-colour: #e6354c;
  margin: 3rem 5rem 8rem;
  h1 {
    font-weight: 800;
    font-size: 2.4rem;
    color: var(--primary-colour);
    text-align: center;
  }
  p {
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
    background-color: var(--background-primary-colour);
    text-align: center;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
  }
  figure {
    margin-block: 6rem;
  }
  figcaption {
    font-style: italic;
    text-align: center;
  }
  a {
    color: inherit;
    display: block;
  }
  @media (min-width: 900px) {
    width: 80rem;
    margin-inline: auto;
    h1 {
      font-size: 3.2rem;
    }
  }
}
