.estimate-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: space-around;
  }

  .caract-container {
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (min-width: 768px) {
      width: 80vw;
    }
    @media screen and (min-width: 1024px) {
      width: 70vw;
    }
    img {
      height: 20rem;
      width: auto;
      @media screen and (min-width: 768px) {
        height: 25rem;
      }
      @media screen and (min-width: 1024px) {
        height: 30rem;
      }
    }
    .side-content {
      height: 20rem;
      height: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      font-size: 1.2rem;
      color: #253d8b;
      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
      }
      .side-content-title {
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        @media screen and (min-width: 768px) {
          font-size: 2.5rem;
        }
      }
      .infos-container {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
      }
    }
  }
  .bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;

    .categorie-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25vh;
      width: 50%;
      .css-ol7wxs-MuiTypography-root {
        height: 17rem;
        width: 17rem;
        border-radius: 17rem;
        font-size: 3.2rem;
        background-color: #253d8b;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .price-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin-left: 50%;
      height: 25vh;
      width: 50%;
      .price-title {
        font-size: 2rem;
        color: #253d8b;
      }
      .price {
        font-size: 5rem;
        font-weight: bold;
        color: #253d8b;
      }
      .button-new-estimate {
        border: none;
        height: 3rem;
        width: 20rem;
        border-radius: 10px;
        background-color: #00acb0;
        color: white;
        &:hover {
          border: 1px solid #00acb0;
          background-color: white;
          color: #00acb0;
        }
      }
    }
  }
  .state-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      text-align: center;
      font-family: var(--font);
      font-weight: 600;
      font-size: 1.6rem;
      color: #253d8b;
      @media screen and (min-width: 1024px) {
        font-size: 2rem;
      }
    }

    .state-button-container {
      height: 30vh;
      width: 90vw;
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      @media screen and (min-width: 768px) {
        width: 45vw;
      }
      @media screen and (min-width: 1024px) {
        width: 55vw;
      }
      .button-state {
        width: 15rem;
        height: 4rem;
        border-radius: 5px;
        background: #00acb0;
        color: white;
        font-family: var(--font);
        font-size: 1.3rem;
        font-weight: 600;

        &:hover {
          border: 1px solid #00acb0;
          background-color: white;
          color: #00acb0;
        }
      }
    }
  }
}
