.header {
    display: flex;
    background-color: rgba(0, 172, 176, 1) ;
   height: 7.82vh;
    width: 100%;
justify-content: flex-start;
    img.imgLogoHeader {
        display: flex;
        width: 100%;
        height: 100%;
        
      }
  }

 
  