.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: rgba(0, 172, 176, 1);

  .img-logo-container {
    max-width: 100%;
    min-height: 4rem;

    .img-logo {
      max-height: 10vh;
    }
  }
}

.navBar-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  .navBar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
    margin-right: 15px;

    li {
      cursor: pointer;
      margin: 0 1.5rem;

      .link-style {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 6rem;
        color: #002743;
        text-decoration: none;

        .text-li {
          font-size: 1.1rem;
          font-weight: 600;
        }
      }

      :hover {
        text-decoration: underline;
        color: #ffffff;
      }
    }
  }
}

.login-button {
  margin-right: 15px;
  gap: 0.5rem;

  border-radius: 20px;
  cursor: pointer;
  transition: border 100ms ease-in-out;

  &.login-button:hover {
    scale: 1.1;
  }
}

.login-menu {
  position: absolute;
  top: 10.5vh;
  right: 4vw;
  min-width: 150px;
  padding: 0 20px 15px 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 8888;
  animation: openLoginMenu 350ms 1 ease-in-out;

  > :first-child {
    & > :last-child {
      padding-bottom: 15px;
    }
  }

  &:before {
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
  }

  .login-menu-app {
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0;

    & li {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      margin-bottom: 5px;

      :hover {
        text-decoration: underline;
        color: #ffcc1b;
      }

      :active {
        color: green;
      }

      svg {
        padding-top: 10px;
        cursor: pointer;
      }

      .li-text {
        padding-left: 10px;
      }
    }
  }

  .li-text {
    padding-top: 10px;
  }
}

@keyframes openLoginMenu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.login-menu-hidden {
  display: none;
}

.link-style {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #002743;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 350ms ease-out;
  font-size: 1.2rem;
  font-weight: 700;
}

.active {
  color: green;
}

.burger-icon {
  svg {
    line {
      color: #002743;
    }
  }
}

@media screen and (max-width: 768px) {
  .navBar-icons {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .login-button {
    display: none;
  }

  .login-menu {
    display: none;
  }
}
