body {
  .background-logo {
    z-index: -1;
    height: 25rem;
    width: 35rem;
    position: absolute;
    bottom: -3rem;
    left: -16rem;
    background-image: url("assets/Rectangle.png");
    background-repeat: no-repeat;
  }
}

.home-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-size: 1.7rem;
    font-family: var(--font);
  }
  .button-container {
    height: 70vh;
    width: 75vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    @media screen and (min-width: 768px) {
      width: 60vw;
      justify-content: center;
    }
    @media screen and (min-width: 1024px) {
      width: 70vw;
      gap: 1.5rem;
    }

    button {
      height: 13rem;
      width: 13rem;
      border: none;
      border-radius: 1rem;
      padding: 0.4rem;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-family: var(--font);
      &:hover {
        transform: scale(1.5);
      }
    }
    .button-new {
      background: #00acb0;
    }
    .button-estimate {
      background: #233d8d;
    }
    .button-faq {
      background: #ffcc1b;
    }

    .button-all {
      background: #00acb0;
    }
    .button-users {
      background: #233d8d;
    }
    .button-out {
      background: #e6354c;
    }
  }
}
