.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: white;

  .logo {
    max-width: 75%;
    @media screen and (min-width: 768px) {
      max-width: 35%;
    }
    @media screen and (min-width: 1024px) {
      max-width: 20%;
    }
  }

  .login-information {
    padding: 3rem;
    height: 25rem;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgba(0, 39, 67, 0.5);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 1024px) {
      max-width: 30vw;
    }

    h1 {
      color: #002743;
      font-size: 1.6rem;
      font-weight: 800;
      font-family: var(--font);
      @media screen and (min-width: 1024px) {
        font-size: 2.4rem;
      }
    }

    .form-container {
      height: 100%;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      button {
        border: none;
        width: 10rem;
        height: 2.7rem;
        font-size: 1.3rem;
        border-radius: 10px;
        background: #002743;
        color: white;
        font-family: var(--font);
        &:hover {
          color: #002743;
          background: white;
          border: 1px solid #002743;
          transform: translate(0px, -2px);
          box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px,
            #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px,
            #9c9c9c 1px 5px 1px, rgba(16, 16, 16, 0.4) 1px 10px 10px,
            rgba(16, 16, 16, 0.2) 1px 10px 10px,
            rgba(16, 16, 16, 0.2) 1px 10px 10px,
            rgba(16, 16, 16, 0.4) 1px 10px 10px, white -0.15em -0.1em 100px;
        }
        &:active {
          transform: scale(1.1);
        }
        @media screen and (min-width: 1024px) {
          margin-top: 5%;
          width: 16rem;
          height: 4rem;
          font-size: 2rem;
        }
      }

      .input-container {
        height: 65%;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-family: var(--font);

        input {
          padding: 0.5rem;
          background: #b3e6e7;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          border: none;
          width: 100%;
          height: 2.2rem;
          font-family: var(--font);
          font-size: 1.4rem;
          font-weight: 600;
        }

        label {
          align-self: flex-start;
          color: #002743;
          font-size: 1.2rem;
          font-weight: 600;
          font-family: var(--font);
          @media screen and (min-width: 1024px) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
