.select-phone-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h1 {
    color: #253d8b;
    font-family: var(--font);
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 1px solid #253d8b;
  }
  .select-container {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
  select {
    border-radius: 5px;
    border: 1px solid #233d8d;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2.5rem;
    font-size: 1.2rem;

    option {
      color: #253d8b;
      font-family: var(--font);
      font-size: 1rem;
    }
  }
  #brand {
    grid-column: 1;
    grid-row: 1;
  }
  #model {
    grid-column: 2;
    grid-row: 1;
  }

  #OS {
    grid-column: 1/3;
    grid-row: 2;
    width: 25rem;
  }

  #screen-size {
    grid-column: 2;
    grid-row: 3;
  }

  #network {
    grid-column: 1;
    grid-row: 3;
  }
  .checkbox-container {
    width: 95vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 16rem;
    gap: 2rem;
    @media screen and (min-width: 768px) {
      height: 25rem;
      justify-content: space-between;

    }
    p {
      color: #253d8b;
      font-size: 2rem;
      font-weight: 700;      
    }
    label {
      font-size: 1rem;
      color: #253d8b;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 7rem;
      @media screen and (min-width: 768px) {
        font-size: 2rem;
        width: 9rem;
      }
     
      input {
        width: 1.6rem;
        height: 1.6rem;
        font-weight: 700;
        border: 1px solid #253d8b;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        
      }
    }
    .storage-container {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,1fr);
      gap: 1rem;
      grid-auto-rows: 0.2rem;
 

   
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
      }
    }
    .ram-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,1fr);
      gap: 1.5rem;
      grid-auto-rows: 0.5rem;
      
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;

      }
    }
  }
  .button-find {
    margin-top: 1.5rem;
    border: none;
    height: 3rem;
    width: 15rem;
    border-radius: 10px;
    background-color: #00acb0;
    color: white;
    &:hover {
      border: 1px solid #00acb0;
      background-color: white;
      color: #00acb0;
    }
  }
}
